.header__btn-container {
    display: none;
}

.low-width {
    width: 7.2rem;
    padding: 0.96rem;
}

.limit-page-0 {
    padding: 0;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}

.logo-container:hover, .search:hover, a:hover, button:hover {
    cursor: pointer;
}

.logo-container:hover {
    text-decoration: none;
}

.logo {
    width: 3.2rem;
}

.black-logo-title {
    color: black;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-bar-container {
    width: 14rem;
    position: relative;
}

.search-bar {
    height: 2.4rem;
    width: 100%;
    border: none;
}

.search-bar::placeholder {
    font-size: 0.4rem;
}

.search {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    right: 2.5%;
    top: 25%;
}

.low-marg {
    margin: 0.4rem 0rem 0rem 0rem;
}

.profile {
    width: 2.8rem;
    height: 2.8rem;
}

@media (max-width: 1024px) and (orientation: landscape) and (min-aspect-ratio: 13/9) {
    header {
        height: 6.4rem;
        justify-content: space-around;
    }

    .logo {
        width: 2.4rem;
    }

    .black-logo-title {
        font-size: 1.2rem;
    }

    .search-bar-container {
        width: 30rem;
    }
}

@media (min-width: 1024px) and (min-aspect-ratio: 13/9) {
    .header__btn-container {
        display: flex;
        align-items: center;
        gap: 3.2rem;
    }

    .logo-container {
        width: 13.2rem;
    }

    .search-bar-container {
        width: 48rem;
    }

    .search-filter {
        display: block;
        background-color: rgb(0, 123, 255);
        color: white;
        width: 9.6rem;
        height: 2.6rem;
        border: none;
    }

    .search-filter:hover {
        cursor: pointer;
    }

    .search-bar {
        width: 48rem;
    }

    .profile {
        border-radius: 50%;
        color: black;
        flex-direction: row;
    }

    .profile:hover {
        text-decoration: underline;
    }

    .profile > * {
        margin-right: 0.8rem;
    }

    .low-marg {
        margin: 0;
    }

    .profile-img {
        margin: 0 calc(50% - 1.4rem);
    }
}
