{% extends "template.html" %}

{% block profile %}

    <form class="profile-form" method="POST" enctype="multipart/form-data">
        <div class="banner">
            {% if picDirectory[0][1] %}
                <img class="w100" src="https://firebasestorage.googleapis.com/v0/b/wikifood-de91b.appspot.com/o/{{ picDirectory[0][1] }}?alt=media&token=https://oauth2.googleapis.com/token">
            {% endif %}
            <label for="upload-bann-pic" class="btn btn-primary btn-chng-bann flex-vertical">
                <img class="banner-pic" src="../static/svgs/profile/upload-photo.svg">
                <p class="p-chng-bann">Change banner photo</p>
            </label>
            <input id="upload-bann-pic" class="any-ds-none" name="bannerPic" type="file" accept=".png, .jpg, .jpeg, .webp, .bmp">

            {% if picDirectory[0][0] %}
                <div class="profile-pic-container">
                    <img class="profile-pic-container profile-pic-circle" src="https://firebasestorage.googleapis.com/v0/b/wikifood-de91b.appspot.com/o/{{ picDirectory[0][0] }}?alt=media&token=https://oauth2.googleapis.com/token">
                    <label for="upload-prof-pic" class="upload-prof-pic">
                        <img class="upload-prof-pic-img" src="../static/svgs/profile/upload-photo.svg">
                    </label>
                    <input id="upload-prof-pic" class="any-ds-none" name="profilePic" type="file" accept=".png, .jpg, .jpeg, .webp, .bmp">
                </div>
            {% else %}
                <div class="profile-pic-container">
                    <div class="profile-pic-container-rel">
                        <img class="profile-pic" src="../static/svgs/profile/profile-borderless.svg">
                        <label for="upload-prof-pic" class="upload-prof-pic">
                            <img class="upload-prof-pic-img" src="../static/svgs/profile/upload-photo.svg">
                        </label>
                        <input id="upload-prof-pic" class="any-ds-none" name="profilePic" type="file" accept=".png, .jpg, .jpeg, .webp, .bmp">
                    </div>
                </div>
            {% endif %}
        </div>

        <h1 class="username">{{ username }}</h1>

        <div class="btn-container">
            <div class="delete-container flex-vertical">
                <button class="btn-delete">
                    <img class="delete-icon" src="../static/svgs/profile/delete.svg">
                </button>
            </div>
            <div class="option">
                <h1>Saved Articles</h1>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>
                        <div class="edge-td-container">
                            <input type="checkbox" class="checkbox th-checkbox">
                            <h2 class="ds-none-mobile th-title">Select All</h2>
                        </div>
                    </th>
                    <th>
                        <h2>Title</h2>
                    </th>
                    <th class="ds-none-mobile">
                        <h2>Type</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        {% for type in article[1] %}
                            {% if type[0] == 'R' %}
                                {% set articleType = 'recipes' %}

                            {% elif type[0] == 'P' %}
                                {% set articleType = 'products' %}

                            {% elif type[0] == 'M' %}
                                {% set articleType = 'menu-items' %}

                            {% endif %}

                            <td>
                                <div class="edge-td-container">
                                    <input type="checkbox" class="checkbox td-checkbox">
                                    <img class="article-img ds-none" src="{{ article[0]['image'] }}">
                                    <a class="ds-none-mobile" href="/{{ articleType }}?{{ article[0]['title'] }}&articleId={{ article[0]['id'] }}">
                                        <img class="article-img" src="{{ article[0]['image'] }}">
                                    </a>
                                </div>
                            </td>
                            <td class="td-title">
                                <h3 class="ds-none article-type">{{ articleType.title() }}</h3>
                                <a href="/{{ articleType }}?{{ article[0]['title'] }}&articleId={{ article[0]['id'] }}">
                                    <h2 class="article-title">{{ article[0]['title'] }}</h2>
                                </a>
                            </td>
                            <td class="edge-td-container ds-none-mobile flex-vertical">
                                <h3>{{ articleType.title() }}</h3>
                            </td>

                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="save-flx-end">
            <button class="btn btn-primary" type="submit">Save Changes</button>
        </div>
    </form>

    <script src="../static/select-all.js"></script>

{% endblock %}