{% extends "template.html" %}

{% block login %}

    <form method="POST" class="flex-vertical form">
        <h1>Register</h1>

        {% if emailExists %}
            <div class="error-container">
                <p class="error">{{ errorMessage }}<a href="/login">Log In here.</a></p>
            </div>
        {% elif errorMessage %}
            <div class="error-container">
                <p class="error">{{ errorMessage }}</p>
            </div>
        {% endif %}

        <div class="label">
            <label>Username*</label>
        </div>
        <input name="username" type="text" minlength="3" maxlength="16">
        <div class="label">
            <label>Email*</label>
        </div>
        <input name="email" type="email" minlength="6" maxlength="64">
        <div class="label">
            <label>Password*</label>
        </div>
        <input name="password" type="password" minlength="6" maxlength="16">
        <div class="label">
            <label>Confirm Password*</label>
        </div>
        <input name="confirm-password" type="password" minlength="6" maxlength="16">
        <p>Already have an account? <a href="/login">Log In here.</a></p>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>

{% endblock %}