{% extends "template.html" %}

{% block search %}

    <div class="search-container">
        {% if response %}
            {% for i in response %}
                {% if i['name'] != 'Articles' %}
                    {% for j in i['results'] %}
                        {% if j['link'] and j['image'] and j['name'] %}
                            <div class="card search-card">
                                <img src="{{ j['image'] }}">
                                {% if i['name'] != 'Videos' %}
                                    <a href="/{{ i['name'].lower() }}?{{ j['name'].lower() }}&articleId={{ j['id'] }}">{{ j['name'] }}</a>
                                {% else %}
                                    <a href="{{ j['link'] }}">{{ j['name'] }}</a>
                                {% endif %}
                                {% if j['content'] %}
                                    <p>{{ j['content']|safe }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}